{%  extends 'sistema_compras/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Ordenes de Compra</h5>
					<td><a class="btn btn-success" href="/create_ordenCompra">Crear<span class="sr-only">(current)</span></a></td>
				</div>
				<div class="card card-body"> 
					<form action="" method="get">
						{{myFilter.form}}
						<button class="btn btn-primary" type="submit">Search</button>
					</form>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>ID Transaccion</th>
							<th>Fecha</th>
							<th>Articulo</th>
							<th>Cantidad</th>
							<th>Unidad de Medida</th>
							<th>Total Orden</th>
							<th>Estado</th>
                            <th></th>
                            <th></th>
						</tr>

						{% for i in ordenCompra %}
							<tr>
								<td>{{i.id}}</td>
								<td>{{i.fecha}}</td>
								<td>{{i.articulo}}</td>
								<td>{{i.cantidad}}</td>
								<td>{{i.unidad_medida}}</td>
								<td>{{i.total_orden}}</td>
								<td>{{i.estado}}</td>
								<td><a class="btn btn-info" href= "/update_ordenCompra/{{ i.id }}">Actualizar<span class="sr-only">(current)</span></a></td>
								<td><a class="btn btn-danger" href="/delete_ordenCompra/{{ i.id }}">Eliminar<span class="sr-only">(current)</span></a></td>
							</tr>
						{% endfor %}
							<tr>
								<td><strong>Total: </strong></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>{{total_sum}}</td>
							</tr>
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}